{%block navbar%}
{%load static%}
<script src="{% static 'themes.js' %}"></script>
<link rel="stylesheet" href="{%static 'navbar.css' %}">
<style>
    a.is-disabled {
    text-decoration: none;
    pointer-events: none;
    }


</style>
<div class="container">
    <div class="row">
        <div class="navbar fixed-right navbar-dark bg-dark font-weight-bold" style="font-size: 17px;">
            <div>
                {%if user%}
                <a href="" class="is-disabled">{{user.username}}</a>
                {%else%}
                <a href="" class="is-disabled">Who?</a>
                {%endif%}
            </div>
            <ul>
                <li>
                    <a href="/">Gallery</a>
                </li>
                <li>
                    <a href="/form">Add image</a>
                </li>
                <li>
                    <a href="/admin">Manage</a>
                </li>
                <li>
                    <a href="/auth">Log in</a>
                </li>
            </ul>
            <div>
                <div>
                    <div>
                        <a href="" class="is-disabled">Select theme</a>
                        <select class="form-control width-md" style="cursor: pointer;" id="theme_select" onchange="selectTheme(value)"
                                value="{{theme}}"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    var themes = [
//    'cerulean',
    'cosmo',
//    'cyborg',
//    'darkly',
//    'flatly',
//    'journal',
    'litera',
//    'lumen',
    'lux',
    'materia',
    'minty',
    'pulse',
    'sandstone',
    'simplex',
//     'sketchy',
    'slate',
    'solar',
    'spacelab',
    'superhero',
    'united',
    'yeti'
];

$(document).ready(function () {
    $('[data-class]').click(function () {
        updateNavbarClass($(this).attr('data-class'));
    });

    updateNavbarClass('fixed-left');

    themes.forEach(function (theme) {
        $('#theme_select').append($('<option>', {
            value: theme,
            text: theme.charAt(0).toUpperCase() + theme.slice(1),
            selected: theme === '{{theme}}'
        }));
    });
});


</script>
{%endblock navbar%}